body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 222, 248);
}

h1 {
    font-size: 24px;
    color: purple;
}

.task-input {
    margin: 20px 0;
}

h2 {
    font-size: 19px;
    color: rgb(81, 183, 81);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: aquamarine;
    border: 1px solid;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}